@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap'); */

*{      /*전체 선택자: 모든 텍스트에 기능을 부여할 때 사용함.*/
    text-decoration: underline;
}

#title4{ /* #ID명*/
    font-size:40px;
}

.title4{ /*클래스에 띄어쓰기로 구분하며, 클래스는 중첩 적용 가능*/
    text-align: center;
}

.title3{    /*.(클래스 명) 클래스 이름을 지정하여 사용 가능, 선택지보다 우선순위 높음*/
    font-size: 10px ;
    color: blue;
}
